body {
    display: flex;  
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: hsl(204, 43%, 93%);
    font-family: 'Karla';
}

main {
    box-shadow: 0 0 900px 0 black;
}

.bottom-section {
    display: flex;
    flex-direction: row;
}

.top-section {
    background-color: white;
}

.left-section {
    background-color: hsl(179, 62%, 43%);
}

.right-section {
    background-color: hsl(179, 63%, 64%);
}

.top-section h1 {
    color: hsl(179, 62%, 43%);
}

.top-section h2 {
    color: hsl(71, 73%, 54%);
}

.top-section p {
    color: hsl(218, 22%, 67%);
}

.left-section h1,
.left-section h2 {
    color: white;
}

.left-section p {
    color: rgb(184, 184, 184);
}

.left-section h3 {
    color: white;   
}

.right-section {
    color: white;
}

.content-top {
    padding: 30px 90px 40px 40px;
}

.content-top h1 {
    font-size: 1.6rem;
    font-weight: 700;
    padding-bottom: 15px;
}

.content-top h2 {
    font-size: 1.3rem;
    font-weight: 700;
    padding-bottom: 10px;
}

.content-left {
    display: flex;
    flex-direction: column;
    padding: 40px 90px 40px 40px;
}

.content-left h2 {
    padding-bottom: 15px;
}

.subscription {
    display: flex;
    padding-bottom: 10px;
}

.subscription p {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 15px;
}

.content-left h3 {
    font-size: 1.1rem;
    font-weight: 400;
}

.content-left a {
    font-size: 1.2rem;
    font-weight: 700;
    text-decoration: none;
    color: white;
    background-color: hsl(71, 73%, 54%);
    text-align: center;
    padding: 15px 0 15px 0;
    border-radius: 5px;
    box-shadow: 130px 15px 300px 0 black;
}

.content-left h3 {
    padding-bottom: 30px;
}

.content-right {
    padding: 40px 120px 25px 50px;
}

.content-right h1 {
    font-size: 1.3rem;
}

.content-right ul {
    padding-left: 0;
}

.content-right li {
    list-style: none;
}